
/* genel*/

*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   font-family: Lato;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem ;
 }
h1{
   font-size: 30px;
}
 /* header menu ve  amblem ve ilk ekran cssleri*/
button{
   cursor: pointer;
}
.markaamblem{
   display: flex;
   justify-content:space-between;
   color: white;
   cursor: pointer;
}

.header-menu{
   width: 96%;
   display: flex;
   justify-content: space-between;
   align-items: center ;
   padding: 0 7%;
   margin: 2rem 7%;
   z-index: 3;
   top: 0;
   position:absolute;
}
.header-menu .markaamblem img{
   height: 3rem;
}
.header-menu .markaamblem h3{
   font-size: 20px ;
}
.header-menu .navbar a{
   margin: 0 2rem;
   font-size: 1.6rem;
   color: rgb(0, 0, 0);
   z-index: 2;
}
  .header-menu button{
   border: 1px , solid, rgb(255, 255, 255);
   border-radius: 6px;
   color:rgb(255, 255, 255);
   width: 100px;
   height: 40px;
   gap: 0px;
   background-color: transparent;
}
 .header-menu .buttons{
   padding-left: 10px;
   display: flex;
   justify-content: flex-end;
}
#menu{
   display: none;
}
.overview-section{
   min-height: 100vh;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   background:  url(../assets/image1.png)
   no-repeat;
   background-size: cover;
}

.overview-section .content {
   max-width: 60rem;
   margin: 0.5rem;
   z-index: 2;
}

.overview-section .content h3{
   font-size: 6rem;
   margin: 0.5rem;
   color: white;
}

.overview-section .content p{
   font-size: 1.7rem;
   margin: 1.5rem;
   color: white;
}

.overview-section .content button{
   border:1px;
   width: 100px;
   height: 40px;
   border-radius: 6px;
   color: red;
}

.linear-gradient{
   min-height: 100vh;
   width: 100%;
   display: flex;
   z-index: 1;
   background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
   position: absolute;
}

.buttons select{
   background: none;
   color: white;
}

/* features kısmı*/

/* başlık*/

.featureshead{
   text-align: center;
   justify-content: center;
   margin: 1rem;
   padding: 1rem;
}

/* Kartlar*/

.features{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   margin:3rem;
   padding: 0 7%;
}
.featurescard{
   border-radius:0.6rem;
   border: 1px, solid, rgb(255, 255, 255);
   width: 30rem;
   height: 20rem;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 4rem;
   margin: 3rem;
   background-color: white;
   transform: translate(-5%,-50%);
   box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
}
.featuressection{
   justify-content: center; 
   align-items: center; 
   margin: 1rem;
   padding: 2.5rem;
}
.features img{
   width: 100%;
   object-fit: cover;
}
.featurescard h1{
   font-size: 2rem;
}
.featurescard p{
   font-size: 1.3rem;
}
.featurescard button{
   border: none;
   background-color: transparent;
   color: red;
}

/*Contact kısmı */

.contact{
   display: flex;
   flex-direction: row;
   margin: 2rem;
   justify-content: center;
}
.contact div{
   text-align: center;
   justify-content:center;
   align-items: center;
   padding: 0 8%;
   margin: 3rem;
}
.contact h1{
   font-size: 30px;
}
.contact p{
   font-size: 16px;
}
 .contact .contact-text{
   width: 30%;
   height: 40rem;
}
input{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
   margin: 1rem;
}
.contact select{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
   margin: 1rem;
}
.contact button{
   width: 100px;
   height: 40px;
   border-radius: 6px;
   color: white;
   background-color: rgb(254, 78, 78);
}
.contact .input{
   width: 40%;
   height: 40rem;
   align-items: center;
   justify-content: center;
   text-align: center;
}

input{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
   margin: 1rem;
}
.contact select{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
}
.contact button{
   width: 100px;
   height: 40px;
   border-radius: 6px;
   color: white;
   background-color: rgb(254, 78, 78);
}


/* Toggle menu ve responsive kısım */
@media (max-width: 1000px) {
   html {
       font-size: 55%;
   }
}

@media (max-width: 1100px) {

   /* header responsive*/
   #menu {
       display: inline-block;
   }

   .header-menu .navbar {
       display: none;
       flex-direction: column;
       position: absolute;
       top: 95%;
       left: 55%;
       background-color: white;
       height: calc(100vh - 9rem);
       width: 25rem;
       right: -100%;
       transition: right 0.3s ease;
       color: black;
       justify-content: center;
       box-shadow: 0px 0px 10px 2px rgba(56, 55, 55, 0.75);
   }

   .header-menu .navbar.active {
       display: flex; 
       right: 0;
   }

   .header-menu .navbar a,
      .header-menu .navbar div {
         margin: 5rem ;
      }
   .toggle-menu button {
       background: none;
       border: none;
       color: rgb(255, 255, 255);
       font-size: 2rem;
   }
   #switch {
      display: none; 
  }
/* contact responsive*/
   .contact {
      flex-direction: column;
      align-items: center;
   }
   .contact .contact-text,
   .contact .input {
      width: 80%;
      margin: 1rem 0;
   }

   /* features responsive*/
   .featureshead {
      margin: 1rem;
      padding: 1rem;
  }

  .features {
      padding: 0 2rem;
  }

  .featuressection {
      padding: 1rem;
  }

  .features img {
      width: 30rem; 
  }
.featurescard{
   width: 24rem;
}
  .featurescard h1 {
      font-size: 1.5rem;
  }

  .featurescard p {
      font-size: 1.3rem;
  }

  .featurescard button {
      font-size: 1.3rem;
  }
}
@media (max-width: 700px) {
.header-menu .markaamblem h3{
   font-size: 17px;
}
.header-menu .markaamblem img{
   height: 2.4rem;
}
}

