/* genel*/
*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   font-family: Lato;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem ;
 }
h1{
   font-size: 30px;
}
 /* header menu ve  amblem ve ilk ekran cssleri*/

.markaamblem{
   display: flex;
   justify-content: flex-start;
   color: white;
}

.header-menu{
   width: 1400px;
   display: flex;
   justify-content: space-between;
   align-items: center ;
   padding: 0 7%;
   margin: 2rem 7%;
   z-index: 3;
   top: 0;
   position:absolute;
}
.header-menu .markaamblem img{
   height: 4rem;
}
.header-menu .navbar a{
   margin: 0 1rem;
   font-size: 1.6rem;
   color: white;
   z-index: 2;
}
  .header-menu button{
   border: 1px , solid, rgb(255, 255, 255);
   border-radius: 6px;
   color:rgb(255, 255, 255);
   width: 100px;
   height: 40px;
   gap: 0px;
   background-color: transparent;
}
 .header-menu .buttons{
   padding-left: 10px;
  /* left: 1000px;*/
   display: flex;
   justify-content: flex-end;
 /* position: absolute;*/
}
.overview-section{
   min-height: 100vh;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   background:  url(../assets/image1.png)
   no-repeat;
   background-size: cover;
  /* margin-top: -9.5rem;*/
}

.overview-section .content {
   max-width: 60rem;
   margin: 0.5rem;
   z-index: 2;
}
.overview-section .content h3{
   font-size: 6rem;
   margin: 0.5rem;
   color: white;
}
.overview-section .content p{
   font-size: 1.7rem;
   margin: 1.5rem;
   color: white;
}
.overview-section .content button{
   border:1px;
   width: 100px;
   height: 40px;
   border-radius: 6px;
   color: red;

}

.linear-gradient{
   min-height: 100vh;
   width: 100%;
   display: flex;
   z-index: 1;
   background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
   position: absolute;
}

/* features kısmı*/
/* başlık*/
.featureshead{
   text-align: center;
   justify-content: center;
   margin: 1rem;
   padding: 1rem;
}
/* Kartlar*/
.features{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   margin:3rem;
   padding: 0 7%;
}
.featurescard{
   border-radius:0.6rem;
   border: 1px, solid, rgb(255, 255, 255);
   width: 30rem;
   height: 20rem;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 4rem;
   margin: 3rem;
   background-color: white;
   transform: translate(-5%,-50%);
   box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
}
.featuressection{
   justify-content: center; 
   align-items: center; 
   margin: 1rem;
   padding: 2.5rem;
}
.features img{
   width: 100%;
   object-fit: cover;
}
.featurescard h1{
   font-size: 2rem;
}
.featurescard p{
   font-size: 1.3rem;
}
.featurescard button{
   border: none;
   background-color: transparent;
   color: red;
}

/*Contact kısmı */

/*
.contact{
   display: flex;
   flex-direction: column;
  /* text-align: center;
   justify-content: space-between;
   margin: 2rem;
   min-height: 100vh;
}
.contact div{
 
   align-items: center;
   padding: 0 7%;
   margin: 1rem;
}
.contact h1{
   font-size: 30px;
}
.contact p{
   font-size: 16px;
}
.contact{
   display: flex;
   flex-direction: row;
   margin: 2rem;
}
.contact div{
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 0 7%;
   margin: 1rem;
}
.contact h1{
   font-size: 30px;
}
.contact p{
   font-size: 16px;
}
input{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
   margin: 1rem;
}
.contact select{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
}
.contact button{
   width: 100px;
   height: 40px;
   border-radius: 6px;
   color: white;
   background-color: rgb(254, 78, 78);
}
*/
.contact{
   display: flex;
   flex-direction: row;
   margin: 2rem;
}
.contact div{
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 0 7%;
   margin: 1rem;
}
.contact h1{
   font-size: 30px;
}
.contact p{
   font-size: 16px;
}
 .contact .contact-text{
width: 20%;
height: 40rem;
background-color: rgb(43, 153, 153);
}
input{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
   margin: 1rem;
}
.contact select{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
}
.contact button{
   width: 100px;
   height: 40px;
   border-radius: 6px;
   color: white;
   background-color: rgb(254, 78, 78);
}
.contact .input{
   width: 50%;
   height: 40rem;
   background-color: aqua;
}

/* toggle menu*/

.toggle-menu {
   display: none; 
}
 

/* toggle menu*/

.toggle-menu {
   display: none; 
}
 
/*.contact-text{
   width: 60%;
   height: 700px;
}*/
input{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
   margin: 1rem;
}
.contact select{
   width: 255px;
   height: 60px;
   border: 1px, solid, black;
   border-color: rgb(0, 0, 0);
   border-radius: 6px;
}
.contact button{
   width: 100px;
   height: 40px;
   border-radius: 6px;
   color: white;
   background-color: rgb(254, 78, 78);
}

*/
/* toggle menu ve responsive kısım*/

.toggle-menu {
   display: none; 
}
 /*
@media (max-width: 1200px) {
   .navbar {
       display: none;
   }
   .toggle-menu {
       display: block; 
       left: 90%;
       position: absolute;
   }
   .contact {
      flex-direction: column;
      align-items: center;
}

.contact-text, .contact div {
      width: 100%;
      padding: 0;
      margin: 1rem 0;
}

.toggle-menu.active + .navbar {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   background-color: #333;
   z-index: 1;
}

.toggle-menu button {
   background: none;
   border: none;
   color: white;
   font-size: 2rem;
}

}*/

